name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy_job:
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20.19.0"

      - name: Install dependencies
        working-directory: ./Expenses.Client
        run: npm ci

      - name: Build Angular app
        working-directory: ./Expenses.Client
        run: npm run build

      - name: Deploy to Azure Static Web Apps
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_LEMON_BUSH_001604510 }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: upload
          app_location: "."
          app_artifact_location: "Expenses.Client/dist/Expenses.Client"
          skip_app_build: true
          skip_api_build: true
